body {
    background-color: #62e9db;
}

.container {
    max-width: 1000px;
    margin-top: 50px;
}
.text-decoration-line-through {
    color: #65a5de;
}
.text-decoration-line-through {
    color: #65a5de;
}
.text-decoration-line-through {
    color: #6c757d;
}

.form-check-input {
    cursor: pointer;
}
/* Add this CSS to your styles.css or within a <style> tag */
.text-decoration-line-through {
    text-decoration: line-through;
}
/* Add this to your CSS file or within a <style> tag */

